:root{
    --border: rgb(73, 73, 73);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #141921;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0; 
    position: fixed;
    width: 100%;
    min-height: 5rem;
}

.btn{
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 2rem;
    margin-right: 5px;
    text-transform: uppercase;
}

aside{
    background-color: black;
    height: 100vh;
    left: 0;
    min-width: 40px;
    position: fixed;
    top: 0;
    width: 8%;
}

footer{
    background-color: #282828;
    border-top: 1px solid var(--border);
    bottom: 0;
    left: 0;
    min-height: 4rem;
    position: fixed;
    width: 100%;
}

.wrapper{
    display: flex;
    height: calc(100vh - 9rem);
    overflow-y: auto;
}