:root{
    --border: rgb(73, 73, 73);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 9pt; 
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #141921;
    color: white;
}

a{
    color: inherit;
    text-decoration: none;
}

.header{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0; 
    position: fixed;
    width: 100%;
    min-height: 5em;
}

.header__btn{
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    padding: 0.6em 2em;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: inherit;

}

aside{
    background-color: black;
    height: 100vh;
    left: 0;
    min-width: 3em;
    position: fixed;
    top: 0;
}

.wrapper{
    height: 100vh;
    display: flex;
    padding: 6em 1em 0 5em;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
}

.wrapper__menu{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.wrapper__menu-item{
    color: rgba(255, 255, 255, 0.5); 
    text-transform: uppercase;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.8em;
    margin-top: 3em;
    align-items: flex-start;
}

.section__title{
    width: 100%;
    font-size: 2rem;
}

.section__title--mbottom{
    margin-bottom: 0.8em;
}

.section__subtitle{
    opacity: 0.5;
    font-weight: normal;
    margin-bottom: 1.8em;
    width: 100%;
}

.item{
    flex-basis: calc(50% - 0.8em);
}

.item__cover{
    width: 100%;
}

.item__title, .item__author{
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

.item__title{
    font-size: 1.2rem;
}

.item__author{
    opacity: 0.5;
}

.item__cover--circle{
    border-radius: 100%;
}

.footer{
    background-color: #282828;
    border-top: 1px solid var(--border);
    bottom: 0;
    left: 0;
    min-height: 7rem;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
}

.footer > div{
    border: 1px solid red;
    flex-grow: 1;
    display: flex;
}

.playing, .options{
    flex-basis: 25%;
}

.player{
    flex-basis: 50%;
    padding: 0 1em; 
}

.playing .playing__cover{
    flex-grow: 1;
    margin: 0 1em;
    align-self: center;
}

.playing .playing__cover img{
    width: 100%;
    max-width: 35px;
    min-width: 25px;
}

.playing__info{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.playing__info h4{
    width: 100%;
    font-size: 0.9em;
}

.playing__info span{
    width: 100%;
    font-size: 0.8em;
    opacity: .5;
}

.playing__actions{
    padding-left: 1em;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
}

.playing__actions i{
    font-size: 1.1rem;  
    opacity: .5;
}


.player{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.player__controls{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 1.5em; 
}

.player__controls div{
    width: 2.4rem;
    height: 2.4rem; 
    border: 3px solid;
    border-radius: 100%;
    position: relative;
}

.player__controls > div > i{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
}

.player__status{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.player__progress-bar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 4px;
    max-width: 30rem; 
    border-radius: 1rem;
}

.player__progress{
    width: 20%;
    background-color: white;
    height: 4px;
    max-width: 30rem; 
    border-radius: 1rem;
}

