:root{
    --border: rgb(73, 73, 73);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 9pt; 
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #141921;
    color: white;
}

a{
    color: inherit;
    text-decoration: none;
}

.banner{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0; 
    position: fixed;
    width: 100%;
    min-height: 5em;
}

.banner__btn{
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    padding: 0.6em 2em;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: inherit;

}

.header{
    background-color: black;
    height: 100vh;
    left: 0;
    min-width: 4em;
    position: fixed;
    top: 0;
    padding-top: 1em; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-weight: bold;
    padding-bottom: 6rem;
    text-align: center;
}

.nav__logo--small{
    width: 25px;
}

.nav__logo{
    display: none;
    width: 130px;
}

.nav__list{
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.nav__item{
    margin-bottom: 0.8rem; 
    opacity: 0.5;
    width: 100%;
}

.nav__item--large{
    line-height: 2.5rem;
}

.plus{
    width: 2.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    color: black;
    text-align: center; 
    height: 2.5rem;
    font-size: 2rem;
    vertical-align: sub;
    margin-right: 1rem; 
}

.nav__title{
    display: none;
    text-transform: uppercase;
}
.nav__icon{
    width: 25px;
    vertical-align: middle;
    display: inline-block;
}

.nav__icon--small{
    width: 19px;
}

.nav__item span, .nav__item .hide{
    display: none;
}

.nav__profile-pic{
    height: 20px;
    width: 20px;
    background-color: grey;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 1rem;
    vertical-align: sub;
    margin: 0 auto;
}

.nav__profile-pic img{
    height: 20px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.wrapper{
    height: 100vh;
    display: flex;
    padding: 6em 1em 8rem 5em;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
}

.wrapper__menu{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.wrapper__menu-item{
    color: rgba(255, 255, 255, 0.5); 
    text-transform: uppercase;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.8em;
    margin-top: 3em;
    align-items: flex-start;
}

.section__title{
    width: 100%;
    font-size: 2rem;
}

.section__title--mbottom{
    margin-bottom: 0.8em;
}

.section__subtitle{
    opacity: 0.5;
    font-weight: normal;
    margin-bottom: 1.8em;
    width: 100%;
}

.item{
    flex-basis: calc(50% - 0.8em);
}

.item__cover{
    width: 100%;
}

.item__title, .item__author{
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

.item__title{
    font-size: 1.2rem;
}

.item__author{
    opacity: 0.5;
}

.item__cover--circle{
    border-radius: 100%;
}

.footer{
    background-color: #282828;
    border-top: 1px solid var(--border);
    bottom: 0;
    left: 0;
    min-height: 7rem;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.footer > div{
    flex-grow: 0;
    display: flex;
    flex-basis: 25%; 
}

.footer .player{
    flex-basis: 50%;
}

.playing{
    justify-content: flex-start;
}

.player{
    padding: 0 1em; 
    flex-direction: column;
    gap: 0.8em;
    flex-grow: 1;
    justify-content: center; 
}

.playing .playing__cover{
    flex-grow: 0;
    margin: 0 1em;
    align-self: center;
    flex-basis: fit-content;
}

.playing .playing__cover img{
    width: 100%;
    max-width: 35px;
    min-width: 25px;
}

.playing__info{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
}

.playing__info h4{
    width: 100%;
    font-size: 0.9em;
}

.playing__info span{
    width: 100%;
    flex-grow: 0;
    font-size: 0.8em;
    opacity: .5;
}

.playing__actions{
    padding-left: 1.5em;
    flex-basis: fit-content;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
}

.playing__actions i{
    font-size: 1.1rem;  
    opacity: .5;
}


.player__controls{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 1.5em; 
}

.player__controls div{
    width: 2.4rem;
    height: 2.4rem; 
    border: 3px solid;
    border-radius: 100%;
    position: relative;
}

.player__controls > div > i{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
}

.player__status{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.bar{
    height: 4px;
    border-radius: 1rem;
}

.player__progress-bar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 30rem; 
}

.player__progress{
    width: 20%;
    background-color: white;
    max-width: 30rem; 
}

.options{
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
    gap: 10px;
}

.options > *{
    flex-grow: 0;
}

.options__volume{
    display: flex;
    align-items: center;
}
.options__volume-bar{
    width: 100%;
    min-width: 4em;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 5px;
    
}

.options__volume-status{
    width: 10%;
    background-color: white;
}

@media screen and (min-width: 600px){
    .header{
        width: 20rem;
        align-items: flex-start;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: left;
    }

    .nav__icon{
        margin-right: 1rem;
        text-align: center;
    }

    .nav__logo--small{
        display: none;
    }

    .nav__logo{
        display: block;
    }

    .nav__item span,
    .nav__item .hide{
        display: inline-block;
    }

    .nav__title{
        display: block;
        margin-bottom: 1rem;
    }
    
    .wrapper{
        padding-left: 21rem;
    }

}

@media screen and (min-width: 700px) and (max-width: 1100px){
    .item{
        flex-basis: calc(25% - 0.8em);
    }
}

@media screen and (min-width: 1100px){
    .item{
        flex-basis: calc(100% / 6 - 0.8em);
    }
}